# dependencies
node_modules/
**/node_modules/

# env
.env
**/.env
!**/.env.example

# build output
dist/
**/dist/
build/

# logs
*.log
npm-debug.log*

# editor / OS
.DS_Store
.vscode/
.idea/
Thumbs.db
~$*.xlsx
